@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    color: white;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
}

nav {
    background-color: #44D217;
    font-size: 250%;
    padding: 16px;
    font-family: "Gluten", cursive;
}

nav a {
    padding: 8px;
}

.logo {
    padding-right: 16px;
    text-decoration: none;
    color: white;
}

.webpage {
    background-color: #218800;
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
    color: white;
}

img {
    margin: 0;
}

p {
    margin: 0;
}

article {
    border: 16px double #2CAC04;
    padding: 16px;
    margin: 16px;
    text-align: left;
}

div p {
    padding: 8px;
    font-size: 16px;
    font-family: Noto Sans;
}

div b {
    font-size: 40px;
    font-family: Times New Roman;
}

.join {
    background-color: #44D217;
    border-radius: 16px;
    padding: 8px;
    font-size: 32px;
    font-family: "Gluten", cursive;
}

div {
    padding: 16px;
}

.one {
    background-color: #44D217;
}

.two {
    background-color: #7DE85C;
}

footer {
    background-color: #44D217;
    font-size: 32px;
    font-family: "Gluten", cursive;
}
